@model ElaTrampa.Models.Candidato

@section Stylesheets{
    <link rel="stylesheet" href="~/css/cadastro.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
}

@{
    ViewData["Title"] = "Cadastro";
}

<div class="conteudo">
    <h2 class="h2Main">Cadastre-se e veja as vagas que estão<br>esperando por você!</h2>
    <section class="sectionCadastro">
        <form asp-action="Create" class="campo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="campo">
                <label class="perguntas" asp-for="Nome">Nome</label>
                <div>
                    <input class="input" asp-for="Nome">
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="campo">
                <label class="perguntas" asp-for="CPF">CPF</label>
                <div>
                    <input class="input" asp-for="CPF" placeholder="12345678900">
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
            </div>
            <div class="campo">
                <label class="perguntas" asp-for="Email">E-mail principal</label>
                <div>
                    <input class="input" asp-for="Email" placeholder="squad53@gmail.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="campo">
                <label class="perguntas" asp-for="Telefone">Telefone</label>
                <div>
                    <input class="input" asp-for="Telefone" placeholder="(11) 9 9999-9999" disabled>
                </div>
            </div>
            <div class="campo">
                <label for="mensagem">Conte um pouco sobre você!</label>
                <div>
                    <textarea class="input" name="mensagem" id="mensagem" cols="30" rows="6" required maxlength="240"></textarea>
                </div>
            </div>
            <div class="campo">
                <label class="perguntas" for="vagas">Selecione a vaga que voce quer!</label>
                <div>
                    <select class="escolherVaga" name="vagas" id="vagas" required>
                        <option selected value="">Escolha sua vaga</option>
                        <option value="Jovem Aprendiz">Jovem Aprendiz</option>
                        <option value="Maquiadora">Maquiadora</option>
                        <option value="Costureira">Costureira</option>
                        <option value="Cabeleireira">Cabeleireira</option>
                    </select>
                </div>
            </div>
            <div class="btn-cadastro">
                <button class="botaoCadastro" type="submit">Cadastre-se na vaga</button>
            </div>
        </form>
    </section>
</div>