@section Stylesheets{ 
    <link rel="stylesheet" href="./css/index.css" />
}

@{
    ViewData["Title"] = "Ela Trampa";
}
<div class="conteudo">
    <section>
        <div class="imagemFundo">
            <div class="Banner">
                <div>
                    <h1 class="tituloBanner">Vagas de emprego para mulheres trans</h1>
                    <p class="pBanner">Encontre aqui a sua oportunidade!</p>
                    @Html.ActionLink("Quero me candidatar", "Cadastro", "Home", null, new { @class = "botaoVagas" })
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="tituloVagas">Vagas mais recentes</h2>
        <div class="box">
            <div class="boxLine">
                <div class="Vagas">
                    <h3 class="vagaDisponivel">Jovem Aprendiz</h3>
                    <p>Nome da empresa aqui</p>
                    <a class="botaoVagas" asp-area="" asp-controller="Home" asp-action="Vagas">Saiba mais</a>
                </div>
                <div class="Vagas">
                    <h3 class="vagaDisponivel">Maquiadora</h3>
                    <p>Nome da empresa aqui</p>
                    <a class="botaoVagas" asp-area="" asp-controller="Home" asp-action="Vagas">Saiba mais</a>
                </div>
                <div class="Vagas">
                    <h3 class="vagaDisponivel">Promotore de Tecnologia</h3>
                    <p>Nome da empresa aqui</p>
                    <a class="botaoVagas" asp-area="" asp-controller="Home" asp-action="Vagas">Saiba mais</a>
                </div>
            </div>
            <div class="boxLine">
                <div class="Vagas">
                    <h3 class="vagaDisponivel">Estagiário</h3>
                    <p>Nome da empresa aqui</p>
                    <a class="botaoVagas" asp-area="" asp-controller="Home" asp-action="Vagas">Saiba mais</a>
                </div>
                <div class="Vagas">
                    <h3 class="vagaDisponivel">Recepcionista</h3>
                    <p>Nome da empresa aqui</p>
                    <a class="botaoVagas" asp-area="" asp-controller="Home" asp-action="Vagas">Saiba mais</a>
                </div>
                <div class="Vagas">
                    <h3 class="vagaDisponivel">Cabeleleiro</h3>
                    <p>Nome da empresa aqui</p>
                    <a class="botaoVagas" asp-area="" asp-controller="Home" asp-action="Vagas">Saiba mais</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="profissao">
            <h2 class="tituloProfissao">Profissões mais buscadas</h2>
            <div class="busca">
                <div class="buscaEncontrada">
                    <h3>Maquiadora</h3>
                </div>
                <div class="buscaEncontrada">
                    <h3>Promotor(a/e) de Tecnologia</h3>
                </div>
                <div class="buscaEncontrada">
                    <h3>Jovem Aprendiz</h3>
                </div>
                <div class="buscaEncontrada">
                    <h3>Promotor(a/e) de Tecnologia</h3>
                </div>
            </div>
            <div class="busca">
                <div class="buscaEncontrada">
                    <h3>Recepcionista</h3>
                </div>
                <div class="buscaEncontrada">
                    <h3>Estagiário</h3>
                </div>
            </div>
        </div>
    </section>
</div>
        
 
