@section Stylesheets{
    <link rel="stylesheet" href="../css/quemSomos.css" />
}

@{
    ViewData["Title"] = "Quem Somos - Squad 53";
}
<div class="conteudo">
    <section class="quemSomos">
        <div class="divQuemSomos">
            <h2 class="h2Main">Quem Somos</h2>
            <p class="pMain">
                ElaTrampa! é um projeto do Squad53 focado na empregabilidade de mulheres trans que sofrem com a falta de oportunidades no mercado de trabalho.<br>
                Apesar de já existir locais que incentivem ao emprego não há um encaminhamento para quem entra no mercado de trabalho, com cursos de qualificação e também não é apresentada uma capacitação para quem deseja emprender, sendo assim, surgiu a ideia do projeto ElaTrampa!.
            </p>
            <div>
                <img class="imgFundo" src="../img/banner2.jpg" alt="imagem fundo">
            </div>

            <p class="pMain">A  Ela Trampa é uma startup de impacto social que busca contribuir  com a diversidade  e combater a desigualdade inserindo  mulheres  trans do estado de São Paulo, no mercado  de trabalho.  Nós  buscamos atender  a todos os níveis  de escolaridade, aqui você encontra vagas com perfil para jovem aprendiz, mulheres  com nível médio  incompleto  e  muito  mais. Todos os dias conectamos mulheres  trans a novas oportunidades  de emprego</p>
        </div>
    </section>
    <section class="quemSomos">
        <div class="divQuemSomos">
            <h2 class="h2Main">Equipe</h2>
            <div class="box-line">
                <div class="box">
                    <img src="../img/monara.jpeg" class="imgSobreNos" alt="foto de monara">
                    <h2>Monara</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, earum! Et enim quia pariatur dignissimos facilis incidunt animi amet totam laborum! Temporibus illum placeat laboriosam maxime officia eos. Aliquid, fugit!</p>
                </div>
                <div class="box">
                    <img class="imgSobreNos" src="../img/Joao.jpeg" alt="foto de joao">
                    <h2>João</h2>
                    <p>Estudante de desenvolvimento web e entusiasta do empreendedorismo social. Quer me chamar pra tomar um café ou trocar uma idéia? <strong>joaomgsa@gmail.com</strong></p>
                </div>
            </div>
            <div class="box-line">
                <div class="box">
                    <img class="imgSobreNos" src="../img/Enisson.jpeg" alt="foto de Enisson">
                    <h2>Enisson</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, earum! Et enim quia pariatur dignissimos facilis incidunt animi amet totam laborum! Temporibus illum placeat laboriosam maxime officia eos. Aliquid, fugit!</p>
                </div>
                <div class="box">
                    <img class="imgSobreNos" src="../img/carine.jpg" alt="foto de Carine">
                    <h2>Carine</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, earum! Et enim quia pariatur dignissimos facilis incidunt animi amet totam laborum! Temporibus illum placeat laboriosam maxime officia eos. Aliquid, fugit!</p>
                </div>
            </div>
            <div class="box-line">
                <div class="box">
                    <img class="imgSobreNos" src="../img/Aline.jpeg" alt="foto de aline">
                    <h2>Aline Fernandes</h2>
                    <p>Formada em administração  de empresa e aluna de desenvolvimento full stack da Recode Pro</p>
                </div>
                <div class="box">
                    <img class="imgSobreNos" src="../img/adriano.jpg" alt="fot de Adriano">
                    <h2>Adriano Soares</h2>
                    <p>Email: adrsoares@gmail.com</p>
                    <p>LinkedIn : https://www.linkedin.com/in/adriano-soares-49620a136</p>
                    <p>Desenvolvedor Full-Stack Jr - Recode Pro/Estudante de Engenharia Civil - Uerj Membro do Squad 53.</p>
                </div>
            </div>
        </div>
    </section>
</div>