@model ElaTrampa.Models.Candidato

@section Stylesheets{
    <link rel="stylesheet" href="../css/contato.css" />
    <link rel="stylesheet" href="../css/quemSomos.css" />
}


@{
    ViewData["Title"] = "Contato - ElaTrampa!";
}

<div class="conteudo">
    <h2 class="h2Main">Entre em contato conosco</h2>
    <p class="pMain"> Preencha suas informações abaixo que em breve entraremos em contato </p>

    <section class="sectionContato">
        <form class="grupo" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="campo">
                <label asp-for="Nome">Qual seu nome?</label>
                <div>
                    <input asp-for="Nome" class="input" required>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="campo">
                <label asp-for="Email">Qual seu e-mail?</label>
                <div>
                    <input asp-for="Email" class="input">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="campo">
                <label asp-for="Telefone">Telefone?</label>
                <div>
                    <input asp-for="Telefone" class="input" required>
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="btn-contato">
                <button class="botao" type="submit">Enviar</button>
            </div>
        </form>
        <div class="campo">
            <label for="mensagem">Deixa aqui sua mensagem!</label>
            <div>
                <textarea class="input" name="mensagem" id="mensagem" cols="30" rows="6"></textarea>
            </div>
        </div>
    </section>
</div>